{% extends 'base_table.html' %}
{% load static %}

{% block style %}
<style>
    .pointer { cursor: pointer; }
</style>
{% endblock style %}


{% block subtitle %}{{ subtitle }}{% endblock subtitle %}

{% block routelinks %}
<li><a href="{% url 'post_list' %}">{{ title }}</a></li>
<li><a href="{% url 'post_list' %}">{{ subtitle }}</a></li>
{% endblock routelinks %}

{% block function_btn %}
<a class="btn btn-info btn-sm" href="{% url 'post_new' %}"><i class="glyphicon glyphicon-plus"></i>新增公告</a>
{% endblock function_btn %}

{% block table_mainhead %}{{ subtitle }}{% endblock table_mainhead %}

{% block thead %}
<tr>
  <th scope="col">社團</th>
  <th scope="col">公告標題</th>
  <th scope="col">發布人</th>
  <th scope="col">到期日</th>
</tr>
{% endblock thead %}

{% block tbody %}
{% for row in announcement_list %}
<tr class="pointer" onclick="document.location = '{% url 'post_detail' pk=row.pk %}';">
  <td>{{row.club}}</td>
  <td>{{row.title}}</td>
  <td>{{row.author.get_full_name}}</td>
  <td>{{row.due}}</td>
</tr>
{% empty %}
<tr class="pointer">
  <td colspan="4">沒有公告...</td>
</tr>
{% endfor%}
{% endblock tbody %}
