{% extends 'base.html' %}
{% load static %}
{% block basestyle %}<script src="{% static 'js/main.js' %}"></script>{% endblock basestyle %}

{% block title %}
輔大社團首頁
{% endblock title %}
{% block mainbody %}
<section id="banner" data-video="banner">
  <div class="inner">
    <header>
      <h1>Club Activity</h1>
      <p>想要擁有精彩的大學生活嗎<br /> 參加社團活動準沒錯!
      </p>
    </header>
    <a href="#main" class="more">Learn More</a>
  </div>
</section>
<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- Boxes -->
    <div class="thumbnails">
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p6.jpg'%}" alt="" /></a>
        <div class="inner">
          <h3>飲調社期初社大</h3>
          <p>希望大家有空多多參與我們的期初社大喔!現場備有小點心及各項好禮等著你~</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p7.jpg'%}" height="250" alt="" /></a>
        <div class="inner">
          <h3>野營社迎新茶會</h3>
          <p>免費入場!!!提供點心飲料給大家吃吃喝喝，還附上幹部們熱情的演出喔~趕快揪朋友一起來!!!</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p8.jpg'%}" height="250" alt="" /></a>
        <div class="inner">
          <h3>登山社爬家羅湖</h3>
          <p>過了一個寒假，多久沒和我們一起出來玩了呢~這學期登山社的第一個活動來啦!!!</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p9.jpg'%}" height="250" alt="" /></a>
        <div class="inner">
          <h3>急康社聖誕晚會</h3>
          <p>寒冷的冬天找不到人陪伴嗎?想要聖誕老公公送你禮物嗎?不用擔心，急康社就是你溫暖的家~</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p10.jpg'%}" height="250" alt="" /></a>
        <div class="inner">
          <h3>吉他社畢業公演</h3>
          <p>民吉一年一度的畢業公演來囉!轉眼間學長姐們都要畢業了呢QAQ 千萬不要錯過他們在輔大的最後一場演出啊!!!</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
      <div class="box">
        <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{%static 'img/p11.jpg'%}" height="250" alt="" /></a>
        <div class="inner">
          <h3>光火藝術社夏季成發</h3>
          <p>想要體驗 光的藝術 火的魅力 嗎?保證炸翻全場的演出你還不來?</p>
          <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock mainbody %}
