<style media="screen">
  .box {
    background: none;
    text-align: left;
  }

  table th {
    color: #000;
    padding: 0 0.75em 0.75em 0.75em;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  input[type="text"],
  label,
  button,
  .button {
    color: #000;
  }

  button>span {
    color: #000;
  }

  .glyphicon-user {
    color: #317eac;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
</style>
